@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/blj1kuk.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'Constructio';
  src: url('../../public/fonts/ConstructioGrotesk/ConstructioGrotesk-Regular.ttf');
}

#clouds {
  /* animation-name: bounce;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-duration: 3s; */
  animation: 2s ease bounce infinite
}

#clouds2 {
  animation-name: bounce;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-duration: 3s;
}

#title {
	color: mix(#fff, #A5B4FC, 85%);
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, #A5B4FC, 94%),
		0.005em 0.005em 0 mix(#fff, #A5B4FC, 60%),
		0.01em 0.01em 0 mix(#fff, #A5B4FC, 62%), 
		0.015em 0.015em mix(#fff, #A5B4FC, 64%), 
		0.02em 0.02em 0 mix(#fff, #A5B4FC, 66%), 
		0.025em 0.025em 0 mix(#fff, #A5B4FC, 68%),
		0.03em 0.03em 0 mix(#fff, #A5B4FC, 70%),
		0.035em 0.035em 0 mix(#fff, #A5B4FC, 72%)!important;
}


@keyframes bounce {
  0% { 
    transform: translateY(0);
  }
  50% { 
    transform: translateY(5px);
  }
  100% { 
    transform: translateY(0);
   }
}